{% extends 'admin_template/base.html' %}
{% load static %}

{% block body %}


<div  id="list" >
    <br><br>
    <h6>List Of All Books</h6>
<table class="table table-hover styled-table  border m-4 p-4" style="width:1200px;" >

  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Author</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>

       <th scope="col">Quantity</th>
      <th scope="col">Stock</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% for i in page %}
    <tr class="active-row">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{i.name}}</td>

         <td>{{i.author}}</td>
        <td>
  {% for category in i.categories.all %}
    {{ category.c_name }}
    {% if not forloop.last %}, {% endif %}
  {% endfor %}
</td>


      <td>₹{{i.price}}</td>
      <td>{{i.quantity}}</td>
      {% if i.quantity >= 6 %}
      <td class="instock" style="color:green;">In stock</td>
      {% elif i.quantity >= 1 and i.quantity <= 5 %}
      <td class="outstock" style="color:red;">Only {{i.quantity}} left</td>
      {% else %}
      <td class="outstock" style="color:grey;">Out of stock</td>
      {% endif %}

      <td>
          <div class="d-grid gap-2 d-md-block">

        <a href="{% url 'update' i.id %}"> <button type="submit" class="btn btn-success btn-sm" onclick="return confirmUpdate()">Update</button></a>

       <a href="{% url 'delete' i.id %}"> <button type="submit" class="btn btn-danger btn-sm" onclick="return confirmDelete()">Delete</button></a>
        <a href="{% url 'details' i.id %}"> <button type="submit" class="btn btn-info btn-sm" >View</button></a>
          </div>
      </td>
    </tr>
{% endfor %}
  </tbody>
</table>



<ul class="pagination pagination-circular" role="navigation" aria-label="Pagination">
    {% if page.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page.previous_page_number }}" aria-label="Previous page">

            «
        </a>
    </li>
    {% endif %}

    {% for num in page.paginator.page_range %}
    <li class="page-item {% if page.number == num %}active{% endif %}">
        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
    </li>
    {% endfor %}

    {% if page.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page.next_page_number }}" aria-label="Next page">
            »

        </a>
    </li>
    {% endif %}
</ul>




<script>
function confirmUpdate() {
  return confirm("Are you sure you want to update this item?");
}

 window.addEventListener('DOMContentLoaded', () => {
            const popUpMessage = document.querySelector('.message');
            if (popUpMessage) {
                alert(popUpMessage.textContent);
            }
        });

function confirmDelete() {
  return confirm("Are you sure you want to delete this item?");
}
</script>
  </div>

{% endblock %}